pre {
  font-size: 14px;
}
pre span {
  line-height: 22.5px;
}
.highlight .lit {
  color: #666;
}
.highlight .pln {
  color: #f8f8f2;
}
.highlight .typ {
  color: #fd88fd;
}
.highlight .pun {
  color: #fd971f;
}
pre.prettyprint {
  padding: 2px 5px;
}
.code {
  width: 100%;
}
.code .prettyprint {
  width: 100% !important;
}
